<form action="/form2/" method="POST">
    <legend>Факториал числа</legend><br>
    <label for="num">!</label>
    <input type="text" name="num"><br><br>
    <button type="submit">Отправить</button>
</form>
<h1>{{ answer }}</h1>