<form action="/form5/" method="post">
    <legend>Корни квадратного уравнения</legend>
    <p>Ax^2 + Bx + C = 0</p>
    <label for="num1">Число A: </label>
    <input type="text" name="num1"><br><br>
    <label for="num2">Число B: </label>
    <input type="text" name="num2"><br><br>
    <label for="num3">Число C: </label>
    <input type="text" name="num3"><br><br>
    <button type="submit">Отправить</button>
</form>
<h1>{{answer}}</h1>