<form action="/form1/" method="POST">
    <legend>Градусы Цельсия в градусы Фаренгейта</legend><br>
    <label for="degs">Градусы</label>
    <input type="text" name="degs"><br><br>
    <button type="submit">Отправить</button>
</form>
<h1>{{ answer }}</h1>