<form action="/form7/" method="post">
    <legend>Сколько до ДР</legend><br>
    <label for="date">Дата рождения:</label>
    <input type="date" name="date"><br><br>
    <button type="submit">Отправить</button>
</form>
<h1>{{ answer }}</h1>