<form action="/form8/" method="post">
    <legend>Form 8</legend><br>
    <label for="text">Введите текст: </label><br>
    <textarea name="text" ></textarea><br><br>
    <button type="submit">Отправить</button>
</form>
<h1>{{ answer }}</h1>