<nav>
    <a href="/">Home</a>
    <a href="/form1">Form1</a>
    <a href="/form2">Form2</a>
    <a href="/form3">Form3</a>
    <a href="/form4">Form4</a>
    <a href="/form5">Form5</a>
    <a href="/form6">Form6</a>
    <a href="/form7">Form7</a>
    <a href="/form8">Form8</a>
    <a href="/form9">Form9</a>
</nav>