<form action="/form1/">
    <legend>Введите данные:</legend><br>
    <label for="name">Имя: </label>
    <input type="text" name="name" value={{query.name}}><br><br>
    <label for="age">Возраст: </label>
    <input type="text" name="age" value={{query.age}}><br><br>
    <label for="salary">Зарплата: </label>
    <input type="text" name="salary" value={{query.salary}}><br><br>
    <input type="submit">
</form>