<form action="/form/" method="get">
    <input type="text" name="name1"><br><br>
    <input type="text" name="name2"><br><br>
    <input type="text" name="name3"><br><br>
    <input type="submit"><br><br>
</form>